.page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  max-width: 1440px;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
}
